@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  background-color: #f8f8f8;
  color: #212121;
}

section {
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
  max-width: 1250px;
}

.section__header {
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: 600;
  margin: 0 0 5rem 0;
}

.section-scroll-h {
  overflow: auto;
  white-space: nowrap;
  padding: 0 1rem 2rem 1rem;
}

section p {
  font-size: 1.75rem;
  line-height: 2.5rem;
  color: #212121;
  max-width: 600px;
  text-align: left;
  margin: 0 auto 3rem auto;
}

mark.highlight {
  color: #fff;
  font-weight: 600;
  border-radius: 4px;
  padding: 0 2px;
}

mark.highlight.fsu {
  background-color: #800000;
}

mark.highlight.fsu-b {
  background-color: #d3543f;
}

mark.highlight.fwt {
  background-color: #ffb495;
  color: #212121;
}